<div class="container" >
  <div class="jumbotron text-center">
    <h1>Cow Book</h1>
  </div>

  <div ng-repeat="cow in cows" class="row text-center" style="color:white">
    <h2>Cow Name: {{ cow.name }} ; Gender: {{ cow.gender }} ; Birthdate: {{ cow.birthdate }}</h2>
  </div> 

</div>

<form>
	<div class="col-md-12 col-xs-12">
		<div class="form-group col-md-3  text-right" ng-repeat="field in fieldArray">
			<label>{{field.fieldName}} : </label>
			<input type="{{field.dataType}}" />
		</div>
	</div>
</form>
<button class="btn btn-default" ng-csv="cowArray" filename="test.csv">Export COWS</button>