/* ==========================
 * CSS for the entire app 
 */

html { 
	overflow-y: scroll;
}

body {
	padding-top: 50px;
	background-color: #545454;
}

.jumbotron {
	background-color: #2A2A2A;
	color: white;
}

.login-text {
	color: white;
}

.login-form-group input {
	margin-bottom: 10px;
}

.failed-auth p {
	color: #FF9D9D;
	font-weight: bold;
}